/log.txt
/PhoenixMemoryReport.txt
/lua/base/*.lua~
*.lua~
*.txt~
*.lay~
*.swp
/Win32App_D.vc2010.exe
/Win32App_D.vc2010.pdb
/Win32App_D.vc2010.suo
/package.pkg
/config.dat
/resource/ui/godsSenki_merge
/resource/ui/godsSenki_merge.res
/Win32App_D.vc2010.ilk
niceshot
/Win32App.vc2010_Interrupt.exe
/Win32App.vc2010-2015-04-01.exe
/Win32App.vc2010-2015-05-08.exe
/Win32App.vc2010-2015-05-30.exe
account_config.lua
MemoryReport.txt
*.pdb
*.suo
/monster_info.txt
/关卡怪物编辑器.exe
/Cache/userdata.dat
/userdata.dat
/Cache
/tools/events.txt
