*/.svn/*
.svn
*.o
*.swp
*.pyc
**/comlog
*.a
*.lo
godssenki/repo/upload
Makefile
Makefile.in
.deps
config.log
config.status
godssenki/daemon/daemon
godssenki/rank
godssenki/rank/rank_1
godssenki/gateway/gateway
godssenki/invcode/invcode
godssenki/route/route
godssenki/scene/scene
godssenki/simu_tool/robot/robot
godssenki/updatereward/
godssenki/fixfile/
.libs
*.la
autom4te.cache/requests
